@import url('https://fonts.googleapis.com/css?family=Kanit');
body {
  background-color: #1cbb9b;
  font-family: 'Kanit', sans-serif;
}

.or {
  position: relative;
  text-align: center;
}

.or span {
  background: #fff;
  padding: 0 15px;
  position: relative;
  z-index: 1;
}

.or:before {
  background: #ddd;
  content: "";
  display: block;
  height: 1px;
  position: absolute;
  top: 50%;
  width: 100%;
}

.or:before {
  left: 0;
}

.login-box {
  position: relative;
  margin: 10px auto;
  width: 350px;
  height: 500px;
  background-color: #fff;
  padding: 10px;
  border-radius: 20px;
  -webkit-box-shadow: 0px 2px 3px 0px rgba(0, 0, 0, 0.33);
  -moz-box-shadow: 0px 2px 3px 0px rgba(0, 0, 0, 0.33);
  box-shadow: 0px 2px 3px 0px rgba(0, 0, 0, 0.33);
}

.login-facebook {
  width: 60%;
  height: auto;
  margin-top: 30px;
  margin-bottom: 10px;
  cursor: pointer;
}

.email-login,
.email-signup,
.email-register {
  position: relative;
  float: left;
  width: 100%;
  height: auto;
  margin-top: 10px;
  text-align: center;
}

.u-form-group {
  width: 100%;
  margin-bottom: 10px;
}

a {
  color: #32c0e4;
}

.u-form-group input[type="email"],
.u-form-group input[type="password"] {
  -moz-border-radius: 20px;
  -webkit-border-radius: 20px;
  border-radius: 20px;
  border: 1px solid #ddd;
  display: inline-block;
  font-family: Arial;
  font-size: 17px;
  padding: 6px 60px;
}

input[type="checkbox"] {
  display: none;
}

input[type="checkbox"]+label {
  color: black;
}

input[type="checkbox"]+label span {
  display: inline-block;
  font-weight: 0;
  width: 19px;
  height: 19px;
  margin: -2px 10px 0 0;
  vertical-align: middle;
  background-color: white;
  border: 1px solid #ddd;
  cursor: pointer;
}

input[type="checkbox"]:checked+label span {
  background-color: #32c0e4;
}

.u-form-group input:focus {
  border-color: #358efb;
}

.u-form-group button {
  background-color: #32c0e4;
  -moz-border-radius: 28px;
  -webkit-border-radius: 28px;
  border-radius: 28px;
  border: 1px solid #ddd;
  display: inline-block;
  /* cursor: pointer; */
  color: #ffffff;
  font-family: Arial;
  font-size: 17px;
  padding: 8px 60px;
  text-decoration: none;
  margin-top: 20px;
  margin-bottom: 7px;
}

.under-signin {
  background: #ddd;
  height: 1px;
  width: 100%;
}

.forgot-password {
  width: 50%;
  text-align: left;
  text-decoration: underline;
  color: #888;
  font-size: 0.75rem;
}

.signup-box {
  position: relative;
  margin: 10px auto;
  width: 350px;
  height: 800px;
  background-color: #fff;
  padding: 10px;
  border-radius: 20px;
  -webkit-box-shadow: 0px 2px 3px 0px rgba(0, 0, 0, 0.33);
  -moz-box-shadow: 0px 2px 3px 0px rgba(0, 0, 0, 0.33);
  box-shadow: 0px 2px 3px 0px rgba(0, 0, 0, 0.33);
}

.reg-form-group {
  width: 100%;
  margin-bottom: 10px;
}

.reg-form-group .topic {
  text-align: left;
  padding-top: 5px;
}

.reg-form-group input[type="text"] {
  border-radius: 12px;
  border: 1px solid #ddd;
  display: inline-block;
  font-size: 17px;
  padding: 4px 40px;
}

req {
  color: #358efb;
}

.personinformation {
  text-align: left;
  font-size: 12px;
  padding-top: 10px;
  padding-bottom: 10px;
  color: #888;
}

