.spnEnterSite {
	vertical-align:middle;
	display: table-cell; 
	color: #adadad;	
}

.headerCover, .footerCover {
	background-color: #f6f6f6;
}

.footerCover span{
	color: #868e96;	
}

.imageCover {
	background-color: #f6f6f6;
	width: 100%;
	max-width: 1000px;
	display: block;
    margin: 0 auto;	
}

.middle {  
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-100%, -50%);
  -ms-transform: translate(-100%, -50%);  
}

.banner {
	display: block;
	width: 100%;  
}

/* #buyTicket:before{
    content:  "\0000a0";
    display: inline-block;
    height: 24px;
    width: 24px;
    line-height: 0px;
    margin: 0 4px -6px -4px;
    position: relative;
    top: 0px;
    left: 0px;    
    background:transparent url(../../../../image/buttonImage/buyTicket.png) no-repeat left;
    background-size: 100% 100%;
} */
#buyTicketBtn {
    position: relative;
    width:100%;
    max-width:275px;
    max-height:75px;
    min-height:60px;
	margin-bottom:20px;
    padding: 0 10px;
    text-align: left;
    font-size: 16px;
    color: #333;
    background:gray;
    padding: 0px !important;    
    -moz-box-shadow:inset -1px -36px 50px -9px #95753d;
	-webkit-box-shadow:inset -1px -36px 50px -9px #95753d;
	box-shadow:inset 0px -36px 20px -11px #95753d;		
	background: -webkit-gradient(linear, left top, left bottom, from(#95753d), to(#ffffff));
    background: -moz-linear-gradient(top, #95753d, #ffffff);
    background: linear-gradient(to bottom, #95753d, #ffffff);
    
    /* background:-webkit-gradient(linear, left top, left bottom, color-stop(0.05, #ffffff), color-stop(1, #95753d));
	background:-moz-linear-gradient(top, #ffffff 5%, #95753d 100%);
	background:linear-gradient(to bottom, #ffffff 5%, #95753d 100%); */
	/* background:-webkit-linear-gradient(top, #ffffff 5%, #95753d 100%);
	background:-o-linear-gradient(top, #ffffff 5%, #95753d 100%);
	background:-ms-linear-gradient(top, #ffffff 5%, #95753d 100%); */	
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffffff', endColorstr='#95753d',GradientType=0);
	background-color:#ffffff;
	-moz-border-radius:42px;
	-webkit-border-radius:42px;
	border-radius:42px;
	border:2px solid #e7dfd0;
	display:inline-block;
	cursor:pointer;
	color:#f5f3f0;	
	text-decoration:none;
	text-shadow:2px 0px 0px #78633f;
	
}

#buyTicketBtn:hover,
#buyTicketBtn:focus {
    background: #95753d;
    background: -webkit-gradient(linear, left top, left bottom, from(#a37e4b), to(#ffffff));
    background: -moz-linear-gradient(top, #a37e4b, #ffffff);
    background: linear-gradient(to bottom, #a37e4b, #ffffff);
    color: #ffffff;
    text-decoration: none;
}

#btnIconBuyTicketContainer
{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-250%, -50%);
  -ms-transform: translate(-250%, -50%);  
}

#buyTicketBtn img 
{  
	display: block;
	width: 80%;
}

#buyTicketBtn span
{
	display:inline-block;
    max-width: 100%;
    vertical-align:middle;   
    left: 20%;  	
    position: relative;  	
  	color: white;    
}

#transportBtn {
    position: relative;
    width:100%;
    max-width:275px;
    max-height:75px;
    min-height:60px;
	margin-bottom:20px;
    padding: 0 10px;
    text-align: left;
    font-size: 16px;
    color: #333;
    background:gray;
    padding: 0px !important;    
    -moz-box-shadow:inset -1px -36px 50px -9px #95753d;
	-webkit-box-shadow:inset -1px -36px 50px -9px #95753d;
	box-shadow:inset 0px -36px 20px -11px #95753d;		
	background: -webkit-gradient(linear, left top, left bottom, from(#95753d), to(#ffffff));
    background: -moz-linear-gradient(top, #95753d, #ffffff);
    background: linear-gradient(to bottom, #95753d, #ffffff);
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffffff', endColorstr='#95753d',GradientType=0);
	background-color:#ffffff;
	-moz-border-radius:42px;
	-webkit-border-radius:42px;
	border-radius:42px;
	border:2px solid #e7dfd0;
	display:inline-block;
	cursor:pointer;
	color:#f5f3f0;	
	text-decoration:none;
	text-shadow:2px 0px 0px #78633f;
	
}

#transportBtn:hover,
#transportBtn:focus {
    background: #95753d;
    background: -webkit-gradient(linear, left top, left bottom, from(#a37e4b), to(#ffffff));
    background: -moz-linear-gradient(top, #a37e4b, #ffffff);
    background: linear-gradient(to bottom, #a37e4b, #ffffff);
    color: #ffffff;
    text-decoration: none;
}

#btnIconTransportContainer
{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-310%, -50%);
  -ms-transform: translate(-310%, -50%);  
}

#transportBtn img 
{  
	display: block;
	width: 80%;
}

#transportBtn span
{
	display:inline-block;
    max-width: 100%;
    vertical-align:middle;   
    left: 15%;  	
    position: relative;  	
  	color: white;     
}

#shoppingBtn {
    position: relative;
    width:100%;
    max-width:275px;
    max-height:75px;
    min-height:60px;
	margin-bottom:20px;
    padding: 0 10px;
    text-align: left;
    font-size: 16px;
    color: #333;
    background:gray;
    padding: 0px !important;    
    -moz-box-shadow:inset -1px -36px 50px -9px #95753d;
	-webkit-box-shadow:inset -1px -36px 50px -9px #95753d;
	box-shadow:inset 0px -36px 20px -11px #95753d;		
	background: -webkit-gradient(linear, left top, left bottom, from(#95753d), to(#ffffff));
    background: -moz-linear-gradient(top, #95753d, #ffffff);
    background: linear-gradient(to bottom, #95753d, #ffffff);
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffffff', endColorstr='#95753d',GradientType=0);
	background-color:#ffffff;
	-moz-border-radius:42px;
	-webkit-border-radius:42px;
	border-radius:42px;
	border:2px solid #e7dfd0;
	display:inline-block;
	cursor:pointer;
	color:#f5f3f0;	
	text-decoration:none;
	text-shadow:2px 0px 0px #78633f;
	
}

#shoppingBtn:hover,
#shoppingBtn:focus {
    background: #95753d;
    background: -webkit-gradient(linear, left top, left bottom, from(#a37e4b), to(#ffffff));
    background: -moz-linear-gradient(top, #a37e4b, #ffffff);
    background: linear-gradient(to bottom, #a37e4b, #ffffff);
    color: #ffffff;
    text-decoration: none;
}

#btnIconShoppingContainer
{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-120%, -50%);
  -ms-transform: translate(-120%, -50%);    
}

#shoppingBtn img 
{  
	display: block;
	width: 80%;
}

#shoppingBtn span
{
	display:inline-block;
    max-width: 100%;
    vertical-align:middle;   
    left: 45%;  	
    position: relative;  	
  	color: white;     
}