@import url('https://fonts.googleapis.com/css?family=Kanit');
body {
	font-family: 'Kanit', sans-serif;
}

.cardwrapper{
	max-width: 300px;
	/* max-height: 400px; */
}

.imgResponsive{
	width: 100%;
	height: auto;
}