@import url('https://fonts.googleapis.com/css?family=Kanit');
body {
  font-family: 'Kanit', sans-serif;
}

/* html, body {
    height: 100%;
} */

.cardWrapper {
	padding : 2rem 5rem;
}

.cardWrapper h2 {
	font-weight: bold;
	padding-bottom : 1.5rem;
	border-bottom-color: #64b4f9;
	border-bottom-style: solid;
	border-bottom-width: 3px;
}

.card-ticket {
	position: relative;
    border : 1px solid rgba(0, 0, 0, 0.12);
	box-shadow: 0 0 10px #888888;
	cursor: pointer;
}

.card-ticket-body {
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    background-color: rgba(255, 255, 255, 0.8);
}

.card-ticket-body-img img {
	width : 100%;
	min-height : 300px;
	max-height : 400px;
}
/*  */
.card-ticket .card-buyTicket {
	text-align : center;
	color : #013859;
	border-bottom : 2px solid #00384d;
}

.card-ticket .caption {
    padding: 10px 30px;
}

.card-ticket .caption div:first-child {
    border-right : 2px solid #00384d;
    height: 100%;
}

.card-event-name {
	line-height: 1.7rem;
	word-wrap: break-word;
}

.card-ticket:hover .card-overlay {
	opacity: 1;
}

.card-overlay {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	opacity: 0;
	text-align: center;
	background-color: rgba(0,0,0,0.5);
	transition: opacity .5s ease-in-out;
}


.card-overlay img {
	position: relative;
	top : 45%;
}
